.form-container {
    margin-top: 72px;
    margin: 6rem 20rem 0;
}

.form-container .separator {
    height: 6px;
    width: auto;
    background-color: var(--color-primary);
    margin: 10px auto 30px;
}

.list-group {
    border-radius: 0px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .container {
    border-top: 1px solid var(--color-muted);
    height: 100%;
    align-items: center;
}