.form-container {
    margin-top: 72px;
    margin: 6rem 20rem 0;
}

.form-container .separator {
    height: 6px;
    width: auto;
    background-color: var(--color-primary);
    margin: 10px auto 30px;
}

.list-group {
    border-radius: 0px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.search-box {
    display: flex;
    border-bottom: 1px solid var(--color-black);
}

.search-box .bx-search {
    margin: auto 8px;
    font-size: 1.5rem;
}

.search-box .form-control {
    border: none;
}