.navbar {
    z-index: 200;
    padding: 0px;
    height: 64px;
}

.navbar .container {
    background-color: transparent;
}

.navbar .bxs-user-circle {
    color: var(--color-black);
    font-size: 2.5rem;
}

.card {
    border-radius: 0px;
    border-width: 0px;
}

.card-header {
    border-radius: 0px !important;
    border-width: 0px;
    border-top: 6px solid var(--color-primary-dark);
    background-color: var(--color-primary);
}

.req-item {
    height: max-content;
}

.req-item .req-image {
    width: 6.4rem;
    height: 6.4rem;
}

.req-item h5 {
    margin-bottom: 0px;
}

.req-item .description {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.req-item .badge-status {
    float: right
}