.form-control {
    background-color: transparent;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: black;
    border-radius: 0px;
}

#brand {
    padding: 0px 10px;
}

#carouselHome {
    height: 400px;
}

.carousel-inner {
    height: 100%;
}