html,
body {
    height: 100%;
}

.form-container {
    position: relative;
    height: 100%;
    background-color: var(--color-white);
}

.form-container .login-form-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28rem;
    height: auto;
    border-top: 6px solid var(--color-primary);
    background-color: var(--color-white);
}

.form-container h5 {
    font-size: 14px;
}

.form-container .alr {
    display: flex;
    justify-content: flex-end;
}